@import "../../../styles/theme";

$s03-min-height: 650px;

.section {
  &.--s03 {
    position: relative;
    z-index: 50;
    .---content {
      min-height: $s03-min-height;
      .-s03-text-header-1 {
        font-family: $font-Nunito-ExtraBold;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #000000;
      }
      .-s03-text-header-2 {
        font-family: $font-Nunito-Black;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        color: #24D26D;
      }
      .-s03-filters {
        margin-top: 20px;
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      .-s03-products {
        //display: inline-flex;
        margin-top: 31px;
        max-width: calc(100% + 20px);
        height: 350px + 20px;
        //overflow-x: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
        .products-content {
          width: 100%;
          height: 100%;
          .slick-slide {
            padding: 0 0 15px;

            > div {
              display: flex;
              justify-content: center;
            }
          }
        }
        .slick-slider {
          $arrowSize: 54px;
          .slick-arrow {
            position: absolute;
            margin-top: 185px;
            color: black;
            width: $arrowSize;
            height: $arrowSize;
            box-sizing: border-box;
            padding-top: 18px;
            // cursor: pointer;
            background: url("./icons/icon-bg.svg") no-repeat center;
            background-size: 0 0;
            display: flex;
            justify-content: center;
            align-items: center;


            $animationTime: 100ms;
            transition: all $animationTime ease-in-out;
            $activeBgSize: 80%;

            &:active {
              background-size: 100% 100%;
            }

            @media(hover: hover) and (pointer: fine) {
              @keyframes _bgActive {
                from { background-size: 100% 100% }
                to { background-size: $activeBgSize $activeBgSize; }
              }

              &:hover, &:focus {
                background-size: 100% 100%;
              }
              &:active,  {
                //animation: _bgActive $animationTime 1;
                background-size: $activeBgSize $activeBgSize;
              }
            }


            &.slick-disabled {
              cursor: default;
              pointer-events: none;
              filter: grayscale(1);
              background-size: 0 0;
              opacity: .3 !important;
            }

            &:before {
              content: "";
            }

            &.slick-prev {
              margin-left: calc(50% - (#{$arrowSize} - 4px));
              padding-left: 18px;
            }
            &.slick-next {
              margin-right: calc(50% - (#{$arrowSize} - 4px));
              padding-left: 22px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1216px) {

  .section {
    &.--s03 {
      margin: 0 !important;
      padding: {
        right: 20px;
        left: 20px;
      }
    }
  }
}


@media only screen and (max-width: 880px) {

  .section {
    &.--s03 {
      .---content {
        .-s03-text-header-1, .-s03-text-header-2 {
          font-size: 18px;
          line-height: 25px;
        }
        .-s03-filters {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
  }
}

@media only screen and (max-width: 639px) {

  .section {
    &.--s03 {
      .---content {
        .-s03-products {
          margin-top: 19px;
        }
      }
    }
  }
}

@media only screen and (max-width: 704px) {

  .section {
    &.--s03 {
      .---content {
        .-s03-filters {
          .-f-buttons {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .-button {
              //margin-top: 9px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .section {
    &.--s03 {
      margin: 0 0 60px !important;
      .---content {
        .-s03-text-header-1, .-s03-text-header-2  {
          white-space: pre;
        }
      }
    }
  }
}
