@font-face {
  font-family: "Nunito-Regular";
  src: url("../assets/fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-SemiBold";
  src: url("../assets/fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Bold";
  src: url("../assets/fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("../assets/fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-Black";
  src: url("../assets/fonts/Nunito/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
