@import "./fonts";

$max-body-width: 1366px;
$header-height: 100px;
$side-padding-page: 75px;

$font-Nunito-SemiBold: "Nunito-SemiBold", "Nunito-Regular", sans-serif;
$font-Nunito-ExtraBold: "Nunito-ExtraBold", "Nunito-Regular", sans-serif;
$font-Nunito-Bold: "Nunito-Bold", "Nunito-Regular", sans-serif;
$font-Nunito-Black: "Nunito-Black", "Nunito-Regular", sans-serif;
$font-Nunito-Regular: "Nunito-Regular", sans-serif;
$font-Montserrat-Bold: "Montserrat-Bold", sans-serif;


$mobile-max-width: 959px;
$mobile-header-height: 80px;
$mobile-side-padding-page: 20px;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
