.admin-section {
  .preview {
    //pointer-events: none;

    .header {
      position: unset;
    }

    .modal-container {
      position: unset !important;

      .overlay {
        display: none !important;
      }

      .modal {
        position: unset !important;
        transition: unset;
        .close-button {
          display: none;
        }
        .text-inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        input {
          pointer-events: none;
        }
      }
    }

    .-description-section {
      .-big-picture {
        width: 298px !important;
        height: 289px !important;
      }
    }
    .-big-picture {
      width: 591px !important;
      height: 591px !important;
    }
  }

  .edit {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    .translates {
      .translate-text {
        font-size: 16px;
        font-family: "Nunito-Regular", sans-serif;
        padding: 4px 10px;
        width: 800px;
      }
      //textarea {
      //  margin-left: 10px;
      //  width: 800px;
      //  min-width: 800px;
      //  max-width: 800px;
      //  min-height: 67px;
      //  font-size: 16px;
      //  padding: 4px 10px;
      //}
    }
  }
}
