.admin-section {
  //position: relative;
  .edit-document {
    position: fixed;
    background-color: white;
    width: calc(100% - 200px);
    height: calc(100% - 60px);
    margin-left: -20px;
    margin-top: -60px;
    z-index: 20000;
    .edit-document-content {
      max-width: 1216px;
      height: calc(100% - 40px);
    }
    .drop-header-container {
      display: inline-flex;
      width: 100%;
      max-width: 1216px;
      .drop-container {
        width: 250px;
        .--add-picture {
          width: 250px;
          height: 50px;
        }
      }
      .input-container {
        display: flex;
        flex: 1;
        margin-left: 10px;
        margin-right: 40px;
        input {
          width: 100%;
          font-size: 16px;
        }
      }
      button  {
        width: 80px;
      }
    }
  }

  .preview {
    //pointer-events: none;

    .header {
      position: unset;
    }

    .modal-container {
      position: unset !important;

      .overlay {
        display: none !important;
      }

      .modal {
        position: unset !important;
        transition: unset;
        .close-button {
          display: none;
        }
        .text-inputs {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        input {
          pointer-events: none;
        }
      }
    }

    .-description-section {
      .-big-picture {
        width: 298px !important;
        height: 289px !important;
      }
    }
    .-big-picture {
      width: 591px !important;
      height: 591px !important;
    }
  }

  .edit {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 150px;
    position: absolute;
    .translates {
      .translate-text {
        font-size: 16px;
        font-family: "Nunito-Regular", sans-serif;
        padding: 4px 10px;
        width: 800px;
      }
      .edit-button {
        margin-bottom: 20px;
      }
      //textarea {
      //  margin-left: 10px;
      //  width: 800px;
      //  min-width: 800px;
      //  max-width: 800px;
      //  min-height: 67px;
      //  font-size: 16px;
      //  padding: 4px 10px;
      //}
    }
  }
}
