@import "../../styles/theme";

.sections {
  padding-top: $header-height;
  display: flex;
  justify-content: center;

  .content {
    box-sizing: border-box;
    padding: 0 75px;
    max-width: $max-body-width;
    width: 100%;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    font-family: $font-Nunito-Regular;
    .--temporal {
      padding: 0 0 20px;
      //background-color: aliceblue;
    }
    .section {
      width: 100%;
      //margin: 0 75px;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
      &:not(.animated):not(.--s11) {
        opacity: 0;
      }
      &.not-animated {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 1216px) {
  .sections {
    .content {
      padding: 0;
      .section {
        margin: 0 20px;
        box-sizing: border-box;
      }
    }
  }
}
