@import "../../styles/theme";

.modal-container {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 250ms ease-in-out;
    &.-show {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .modal {
    $height: 820px;
    position: absolute;
    //min-width: 439px+8px+8px;
    height: $height;
    max-height: calc(100% - 40px);
    background: #FDF9FF;
    border-radius: 15px;
    transition: all 250ms ease-in-out;
    margin-top: -250px;
    opacity: 0;
    box-sizing: border-box;
    border: 5px solid #333333;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(255, 122, 0, 0.35);
    &.video {
      flex-direction: column;
      height: 809px;
      width: 598px;
      .--data {
        height: 449px;
        width: 100%;
        .--video {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          @media(hover: hover) and (pointer: fine) {
            cursor: pointer;
          }
          video {
            width: 100%;
            height: auto;
            //height: 523px;
          }

          .-play-button {
            position: absolute;
            z-index: 65;
            width: 90px;
            height: 90px;
            border-radius: 45px;
            background: rgba(255, 255, 255, 0.5);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            opacity: 1;
            transition: all 500ms ease-out;
            &.-play {
              opacity: 0;
              width: 200px;
              height: 200px;
              border-radius: 100px;
              transition: all 500ms ease-in;
            }


            &:before {
              content: url("./icons/play.svg");
              display: flex;
              justify-content: center;
              align-items: center;
              //background: url("./icons/play.svg") no-repeat;
              margin-left: 5px;
              margin-top: 12px;
              width: 36px;
              height: 36px;
            }
          }
        }
      }
      .--form {
        width: 100%;
        height: 809px - 449px;
        .title {
          margin-bottom: 18px;
        }
        .text-inputs {
          input {
            width: 260px;
            margin-top: 0;
            &:first-child {
              margin-right: 18px;
            }
          }
        }
      }
    }
    &.product {
      box-shadow: 0px 4px 20px rgba(36, 210, 109, 0.35);
    }
    &.review {
      box-shadow: 0px 2px 10px rgba(146, 31, 237, 0.35), inset 0px -3px 0px rgba(0, 0, 0, 0.15);
    }

    &.-show {
      opacity: 1;
      margin-top: 0;
    }

    .close-button {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      z-index: 10050;

      &:hover {
        opacity: 0.9;
      }
    }

    .--data {
      height: 100%;
      .picture-image {
        height: 100%;
        width: auto;
        margin-left: -1px;
      }
    }

    .--form {
      display: flex;
      width: 439px+8px+8px;
      justify-content: center;
      align-content: center;
      max-height: calc(100% - 20px);
      height: $height;
      align-items: center;
      flex-direction: column;

      .title {
        font-family: $font-Nunito-ExtraBold;
        font-style: normal;
        font-weight: 800;
        font-size: 30px;
        line-height: 41px;
        text-align: center;
        margin-bottom: 20px;
      }

      .-text-input {
        width: 289px;
        height: 60px;
        box-sizing: border-box;
        border-radius: 30px;
        padding-left: 20px;
        border: 1px solid #E6DFD1;
        background: transparent;
        font-family: $font-Nunito-Regular;
        font-size: 18px;
        line-height: 25px;
        color: rgba(0, 0, 0, 0.7);
        outline: none;
        &.--name {
          margin-top: 18px;
        }
        &:focus {
          border: 2px solid #FF7A00;
        }
        &.-warn {
          border-color: #ff7961;
          border-width: 2px;
          background-color: rgba(255, 0, 0, 0.1);
        }
      }

      .--button {
        margin-top: 20px;
        width: 223px;
        border-radius: 35px;
        height: 70px;
        display: flex;
        flex-direction: column;
        padding: 13px 0 0 32px;
        box-sizing: border-box;
        user-select: none;
        // cursor: pointer;
        .b-top-text {
          font-family: $font-Nunito-Bold;
          font-size: 18px;
          line-height: 25px;
          color: #FFFFFF;
        }
        .b-bottom-text {
          font-family: $font-Nunito-Regular;
          font-size: 14px;
          line-height: 19px;
          color: #FFFFFF;
          margin-top: -2px;
          .arrow {
            margin-left: 5px;
          }
        }
      }

      .-description {
        font-family: $font-Nunito-Regular;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        margin-top: 10px;
        color: rgba(0, 0, 0, 0.7);
        white-space: pre;
      }
    }
  }
}


@media only screen and (max-width: 960px) {

  .modal-container {
    .modal {

      $height: 501px;
      min-height: $height;
      max-height: calc(100% - 20px);
      height: $height;

      .close-button {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }
      }
      .--form {
        width: 320px;
        height: $height;

        .title {
          font-size: 21px;
          line-height: 29px;
        }

        .text-inputs {
          input {
            width: 260px;
            margin-top: 0;
            &:first-child {
              margin-right: 18px;
            }
          }
        }
        .-text-input {
          width: 289px;
          height: 60px;
          box-sizing: border-box;
          border-radius: 30px;
          padding-left: 20px;
          border: 1px solid #E6DFD1;
          background: transparent;
          font-family: $font-Nunito-Regular;
          font-size: 18px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.7);
          outline: none;
          margin-right: 0 !important;
          &.--name {
            margin-top: 18px;
          }
          &:focus {
            border: 2px solid #FF7A00;
          }
          &.-warn {
            border-color: #ff7961;
            border-width: 2px;
            background-color: rgba(255, 0, 0, 0.1);
          }
        }

        .--button {
          margin-top: 20px;
          width: 223px;
          border-radius: 35px;
          height: 70px;
          display: flex;
          flex-direction: column;
          padding: 13px 0 0 32px;
          box-sizing: border-box;
          user-select: none;
          // cursor: pointer;
          .b-top-text {
            font-family: $font-Nunito-Bold;
            font-size: 18px;
            line-height: 25px;
            color: #FFFFFF;
          }
          .b-bottom-text {
            font-family: $font-Nunito-Regular;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
            margin-top: -2px;
            .arrow {
              margin-left: 5px;
            }
          }
        }

        .-description {
          font-size: 12px;
          line-height: 16px;
        }
      }
      &.video {
        flex-direction: column;
        height: 677px;
        width: 320px;
        .--data {
          height: 240px;
          //width: 100%;
          .--video {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @media(hover: hover) and (pointer: fine) {
              cursor: pointer;
            }
            video {
              width: auto;
              height: 240px;
              //height: 523px;
            }

            .-play-button {
              position: absolute;
              z-index: 65;
              width: 90px;
              height: 90px;
              border-radius: 45px;
              background: rgba(255, 255, 255, 0.5);
              display: inline-flex;
              justify-content: center;
              align-items: center;
              opacity: 1;
              transition: all 500ms ease-out;
              &.-play {
                opacity: 0;
                width: 200px;
                height: 200px;
                border-radius: 100px;
                transition: all 500ms ease-in;
              }


              &:before {
                content: url("./icons/play.svg");
                display: flex;
                justify-content: center;
                align-items: center;
                //background: url("./icons/play.svg") no-repeat;
                margin-left: 5px;
                margin-top: 12px;
                width: 36px;
                height: 36px;
              }
            }
          }
        }
        .--form {
          width: 100%;
          height: 677px - 240px;
          .title {
            margin-top: 18px;
            margin-bottom: 0;
          }
          .text-inputs {
            input {
              width: 260px;
              margin-top: 18px;
              &:first-child {
                margin-right: 0;
              }
            }
          }
          .--button {
            height: 70px !important;
          }
        }
      }
    }
  }

}
