@import "../../../styles/theme";

$min-height: 840px;

.section {
  &.--s08 {
    position: relative;
    z-index: 100;
    min-height: $min-height;
    height: $min-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    .---content {
      width: 100%;
      height: 100%;
      .-s8-header {
        margin-top: 74px;
        .-header_1, .-header_2 {
          font-family: $font-Nunito-Black;
          font-size: 30px;
          line-height: 41px;
          text-align: center;
          color: black;
          white-space: pre;
        }

        .-header_1 {
          color: #9B51E0;
        }

      }
      .-s08-overviews {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-height: 534px;
        .-s08-overviews-content {
          max-height: 534px;
          width: 100%;
          .slick-slider {
            $arrowSize: 54px;
            margin-top: 25px;
            .slick-list {
              .slick-slide {
                padding: 0 0 0;
                .-picture {
                  .-picture-content {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;

                    img {
                      width: 270px;
                      height: 480px;
                      border: 2px solid rgba(0, 0, 0, 0.25);
                      border-radius: 10px;
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}
@media only screen and (max-width: 1216px) {

  .section {
    &.--s08 {
      margin: 0 0 60px !important;
      padding: {
        right: 20px;
        left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {

  .section {
    &.--s08 {
      margin: 0 0 80px !important;
      height: auto;
      min-height: auto;
      padding: {
        right: 20px;
        left: 20px;
      }
      .---content {

        .-s8-header {
          margin-top: 40px;

          .-header_1, .-header_2 {
            font-size: 18px;
            line-height: 25px;
          }
        }
        .slick-slide {
          padding: 0 0 15px;
        }
      }
    }
  }
}
