@import "../../../../styles/theme";

.section {
  &.--s04 {
    .---content {
      .--mobile {
        width: 100%;
        margin: {
          top: 15px;
          bottom: 40px;
        };
        .slick-slide {
          padding: 0 0 15px;
          > div {
            display: flex;
            justify-content: center;
          }
        }
        .-f-slide {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 200px;
          .-f-title {
            font-family: $font-Nunito-SemiBold;
            font-size: 16px;
            line-height: 20px;
            height: 40px;
            white-space: pre;
            text-align: center;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
