@import "../../../../styles/theme";

.-button {
  margin-left: 21px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;

  //min-width: 175px;
  height: 57px;
  padding: 16px 32px;

  border: 1px solid #C9F6DC;
  border-radius: 30px;
  box-sizing: border-box;
  font-family: $font-Nunito-SemiBold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  &.-selected {
    background: linear-gradient(182.34deg, #24D26D 6.07%, #13C45D 98.04%);
    border: 1px solid linear-gradient(182.34deg, #24D26D 6.07%, #13C45D 98.04%);
    color: #FFFFFF;
  }
  &:hover:not(.-selected) {
    background: #C9F6DC;
    border: 1px solid #C9F6DC;
  }
}
@media only screen and (max-width: 880px) {

  .-button {
    height: 51px;
    padding: 16px 18px;
    font-size: 14px;
    line-height: 19px;
    margin-left: 10px;
    .-icon {
      margin-left: 12.5px;
      margin-top: -3px;
    }
  }
}
