@import "../../../styles/theme";

$min-height: 656px;

.section {
  &.--s_10 {
    position: relative;
    z-index: 40;
    min-height: $min-height;
    height: $min-height;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

  }
}
