@import "../../../styles/theme";

$min-height: 656px;

.section {
  &.--s10 {
    position: relative;
    z-index: 100;
    min-height: $min-height;
    //height: $min-height;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .---content {
      width: 100%;
      height: 100%;
      padding-top: 35px;
      .-header-1, .-header-2 {
        font-family: $font-Nunito-ExtraBold;
        font-size: 30px;
        line-height: 41px;
        color: #000000;
        white-space: pre-wrap;
      }
      .-header-2 {
         color: #07ACF2;
      }
      .-gallery {
        margin-top: 30px;
        width: 100%;
        height: 526px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        display: flex;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
        .-pictures {
          z-index: 115;
          width: 701px;
          height: 526px;
          overflow: hidden;
          border-radius: 15px;
          position: relative;
          .-pictures-container {
            position: absolute;
            display: flex;
            flex-direction: row;
            left: 0;
            //width: 701px;
            height: 526px;
            transition: left 500ms ease-in-out;
            .picture-container {
              width: 701px;
              height: 526px;
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-content: center;
              align-items: center;
              img {
                width: 701px;
                height: auto;
              }
            }
          }

          .-gallery-buttons {
            $width: 96px;
            $height: 46px;
            position: absolute;
            bottom: 40px;
            left: calc(50% - #{$width}/2);
            height: $height;
            width: $width;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-family: $font-Nunito-Regular;
            user-select: none;
            .-g-button {
              height: $height;
              width: $width/2;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              // cursor: pointer;
              opacity: 1;
              background-color: white;
              &.-left {
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              &.-right {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
              &:not(.-disabled) {
                &:active {
                  background-color: #07ACF2 !important;
                  svg {
                    path {
                      fill: white
                    }
                  }
                }

                &:hover {
                  background-color: #B5E7FC;
                  cursor: pointer;
                }
              }
              @media (hover: hover) and (pointer: fine) {
                //background-color: #B5E7FC;
              }
              &.-disabled {
                svg {
                  opacity: .5;
                  filter: grayscale(1);
                }
                cursor: default;
              }
            }
            .-g-name {
              user-select: none;
            }
          }
        }
        .-info {
          //position: absolute;
          //flex: 1;
          display: flex;
          z-index: 116;
          width: calc(100% - 701px);
          height: 100%;
          bottom: 0;
          border-radius: 10px;
          user-select: none;
          .-info-content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 40px;
            box-sizing: border-box;
            .-complex {
              //width: 177px + 72px;

              .--title, .--c-name {
                font-family: $font-Nunito-ExtraBold;
                font-size: 30px;
                line-height: 41px;
                color: #000000;
              }

              .--c-name {
                color: #07ACF2;
              }
            }

            .-features {
              margin-top: 10px;
              text-align: left;
              white-space: pre;
              font-size: 18px;
              line-height: 25px;
              width: 300px;
              display: flex;
              flex-direction: column;
              margin-right: 40px;
            }

            .-button-want {
              $height: 70px;
              width: 223px;
              height: $height;
              background: linear-gradient(182.34deg, #009BDD 6.07%, #07ACF2 98.04%);
              box-shadow: 0px 2px 10px rgba(7, 172, 242, 0.35), inset 0px -3px 0px rgba(0, 0, 0, 0.15);
              border-radius: $height/2;
              font-family: $font-Nunito-Bold;
              font-size: 18px;
              line-height: 25px;
              position: absolute;
              bottom: $height/2;
              color: #FFFFFF;
              // cursor: pointer;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              user-select: none;

              @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
              }

              &:hover {
                //text-decoration-line: underline;
                background: #07ACF2;
              }
              &:active {
                //text-decoration-line: underline;
                background: #0899D8;
              }
            }

          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1216px) {

  .section {
    &.--s10 {
      margin: 0 20px 60px 0 !important;
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {

  .section {
    &.--s10 {
      height: auto;
      min-height: auto;
      padding: 0;
      margin: 0 20px 40px 0 !important;

      .---content {
        .-header-1, .-header-2 {
          font-size: 18px;
          line-height: 25px;
          //white-space: pre;
          padding: 0 20px;
        }
        .delivery-text {
          font-size: 14px;
          line-height: 19px;
        }
        .-gallery {
          margin: 20px;
          height: auto;
          width: calc(100% - 40px);
          //max-width: 701px;
          flex-direction: column;
          .-pictures {
            //min-height: 280px;
            width: 100%;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            height: auto;
            .-pictures-container {
              //height: auto;
              .-picture-container {
                //height: auto;
                img {
                  width: 100%;
                  height: auto;
                }
              }
            }
            .-gallery-buttons {
              $width: 58px;
              $height: 28px;
              width: $width;
              height: $height;
              bottom: 20px;
              left: calc(50% - #{$width}/2);

              .-g-button {
                width: $width/2;
                height: $height;
                svg {
                  width: 14.61px;
                  height: 14.61px;
                }
              }
            }
          }
          .-info {
            height: auto;
            width: 100%;

            .-info-content {
              padding: 20px 20px 30px;
              .-complex {
                width: 100%;

                .--title, .--c-name {
                  font-size: 18px;
                  line-height: 25px;
                }
              }

              .-features {
                font-size: 14px;
                line-height: 19px;
              }

              .-button-want {
                $height: 64px;
                position: relative;
                bottom: unset;
                width: 100%;
                max-width: 320px;
                height: $height;
                border-radius: $height/2;
                margin-top: 20px;
              }
            }
          }
        }
      }
    }
  }
}
