@import "../../../styles/theme";

$min-height: 656px;

.section {
  &.--s10 {
    position: relative;
    z-index: 100;
    min-height: $min-height;
    //height: $min-height;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    .---content {
      width: 100%;
      height: 100%;
      padding-top: 35px;
      .-header-1, .-header-2 {
        font-family: $font-Nunito-ExtraBold;
        font-size: 30px;
        line-height: 41px;
        color: #000000;
      }
      .-header-2 {
         color: #07ACF2;
      }
      .-gallery {
        margin-top: 30px;
        width: 100%;
        height: 456px;
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        box-sizing: border-box;
        .-pictures {
          z-index: 115;
          .-pictures-container {
            position: absolute;
            display: inline-flex;
            left: 0;
            transition: left 500ms ease-in-out;
            .picture-container {
              img {
              }
            }
          }
        }
        .-info {
          position: absolute;
          z-index: 116;
          width: calc(100% - 40px);
          height: 80px;
          bottom: 0;
          background-color: white;
          margin: 0 20px 20px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          border-radius: 10px;
          user-select: none;
          .-info-content {
            width: 100%;
            height: 100%;
            display: inline-flex;
            align-items: center;
            position: relative;
            .-complex {
              margin-left: 37px;
              width: 177px + 72px;

              .--title, .--c-name {
                font-family: $font-Nunito-Regular;
                font-size: 18px;
                line-height: 25px;
                color: #000000;
              }

              .--c-name {
                color: #07ACF2;
              }
            }

            .-features {
              text-align: left;
              white-space: pre;
              font-size: 18px;
              line-height: 25px;
              width: 300px;
              margin-right: 40px;
            }

            .-button-want {
              width: 198px;
              height: 80px;
              background: #07ACF2;
              font-family: $font-Nunito-Bold;
              font-size: 24px;
              line-height: 33px;
              color: #FFFFFF;
              // cursor: pointer;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              user-select: none;

              @media (hover: hover) and (pointer: fine) {
                cursor: pointer;
              }

              &:hover {
                text-decoration-line: underline;
                background-color: #07ACF2;
              }
              &:active {
                text-decoration-line: underline;
                background-color: #0899D8;
              }
            }

            .-gallery-buttons {
              position: absolute;
              right: 13px;
              height: 100%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              font-family: $font-Nunito-Regular;
              font-size: 18px;
              line-height: 25px;
              color: #000000;
              .-g-button {
                width: 50px;
                height: 50px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                // cursor: pointer;
                margin: 0 13px;
                opacity: 1;

                background: url("./icons/icon-bg.svg") no-repeat center;
                background-size: 0 0;
                $animationTime: 100ms;
                transition: all $animationTime ease-in-out;
                $activeBgSize: 80%;

                &:active {
                  background-size: 100% 100%;
                }

                @media(hover: hover) and (pointer: fine) {
                  @keyframes _bgActive {
                    from { background-size: 100% 100% }
                    to { background-size: $activeBgSize $activeBgSize; }
                  }

                  &:hover, &:focus {
                    background-size: 100% 100%;
                  }
                  &:active,  {
                    //animation: _bgActive $animationTime 1;
                    background-size: $activeBgSize $activeBgSize;
                  }
                }

                @media (hover: hover) and (pointer: fine) {
                  cursor: pointer;
                }
                &.-disabled {
                  opacity: .5;
                  filter: grayscale(1);
                  cursor: default;
                }
              }
              .-g-name {
                user-select: none;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1216px) {

  .section {
    &.--s10 {
      margin: 0 20px 60px 0 !important;
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 1100px) {

  .section {
    &.--s10 {
      height: auto;
      min-height: auto;
      padding: 0;
      margin: 0 20px 40px 0 !important;
      &:before {
        content: none;
      }
      &:after {
        width: 305px;
        height: 202px;
        left: unset;
        top: -70px;
        right: -160px;
      }
      .---content {
        .-header-1, .-header-2 {
          font-size: 18px;
          line-height: 25px;
          //white-space: pre;
          padding: 0 20px;
        }
        .delivery-text {
          font-size: 14px;
          line-height: 19px;
        }
        .-gallery {
          height: auto;
          .-pictures {
            z-index: 117;
            //height: 200px;
            height: calc(100vw - 40px);
            max-height: 400px;
            margin: 0 20px;
            width: calc(100% - 40px);
            position: relative;
            overflow: hidden;
            @media only screen and (max-width: 650px) {
              & {
                max-height: 320px;
              }
            }
            @media only screen and (max-width: 525px) {
              & {
                max-height: 200px;
              }
            }
            .-pictures-container {
              height: 100%;
              .picture-container {
                height: 100%;
                border-radius: 15px 15px 0 0;
                width: calc(100vw - 40px);
                overflow: hidden;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background: #f5f5f5;
                img {
                  height: auto;
                  width: 100%;
                }
              }
            }
          }
          .-info {
            position: relative;
            margin: 0;
            border-radius: 0 0 15px 15px;
            height: auto;
            margin: {
              left: 20px;
              right: 20px;
              bottom: 20px;
            };
            .-info-content {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              position: relative;
              .-complex {
                position: relative;
                margin: 0;
                padding: 20px 0 10px 20px;
                box-sizing: content-box;
                .--title, .--c-name {
                  font-size: 14px;
                  line-height: 19px;
                }
              }
              .-features {
                font-size: 14px;
                line-height: 19px;
                padding: 0 20px 10px;
              }
              .-button-want {
                position: relative;
                height: 50px;
                width: 100%;
                font-size: 18px;
                line-height: 25px;
              }
              .-gallery-buttons {
                position: relative;
                height: 64px;
                font-size: 14px;
                line-height: 19px;
                width: 100%;
                right: unset;
              }
            }
          }
        }
      }
    }
  }
}
