.options-edit {
  border: 1px solid #C9F6DC;
  background-color: #24D26D;;
  margin-bottom: 10px;
  .options-name {
    padding: 10px;
  }
  select {
    font-size: 16px;
    font-family: "Nunito-Regular", sans-serif;
  }
  .translate {
    padding-bottom: 10px;
  }
}
