@import "../../../styles/theme";

.header {
  .h-content {
    .h-right {
      min-width: 608px;
      justify-content: flex-end;
      align-items: center;
      .address {
        display: flex;
        //flex: 1;
        justify-content: flex-end;
        padding-right: 20px;
        height: 44px;
        .address-icon {
          margin-right: 13px;
          margin-top: 4px;
        }
        .address-text {
          font-family: $font-Nunito-SemiBold;
          text-align: left;
          font-size: 16px;
          line-height: 22px;
          width: 238px;
          white-space: pre-line;
        }
      }
      .phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        //flex: 1;
        border-left: 2px solid rgba(0, 0, 0, 0.05);
        height: 44px;
        padding-left: 20px;
        .h-p-top {
          display: flex;
          height: 25px;
          .phone-icon {
            padding-top: 4px;
            margin-right: 10px;
          }
          .phone-number {
            font-family: $font-Nunito-Bold;
            font-size: 18px;
            line-height: 25px;
            margin-right: 4px;
          }
          .mess {
            margin-left: 9px;
            cursor: pointer;
          }
        }
        .h-p-bottom {
          display: flex;
          padding-left: 30px;
          .h-call-me {
            font-family: $font-Nunito-SemiBold;
            font-size: 16px;
            line-height: 22px;
            text-decoration-line: underline;
            color: #2F80ED;
            cursor: pointer;
          }
        }
      }
    }

    .h-right-mobile {
      justify-content: flex-end;
      align-items: center;
      max-width: 66px;
      .h-button-menu {
        @include flex-center;
        width: 66px;
        height: 66px;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 1110px) {
  .header {
    .h-content {
      //padding: 10px 0 10px 20px;
      .h-right {
        min-width: 300px;
        max-width: 300px;
        flex: unset;
        .address {
          display: none;
        }
        .phone {
          border-left: none;
        }
      }
    }
  }
}


@media only screen and (max-width: 780px) {
  .header {
    .h-content {
      padding: 10px 0 10px 20px;
      .h-right {
        //max-width: 66px;
        //flex: unset;
      }
    }
  }
}
